*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.Container{
   width: 80%;
   margin: auto;
}
.headline{
   padding-top: 100px;
   margin-top: 30px;
   margin-bottom: 90px;
   font-size:300%;
   font-style: italic;
   text-transform: capitalize;
   text-align: center;
}



/*--header_home--*/

 .header{
   width: 100%;
   position:fixed ;
   z-index: 2;
   background-color: black;
   opacity: 0.8;
 }
 .logo{
    float: left;
    width: 30%;
 }
 .logo h2{
    padding: 8px 0px 0px 0px;
    color: rgb(195, 131, 13);
    font-family: 'Great Vibes', cursive;
    font-weight:bold;
    font-size: 40px;
    text-transform: uppercase;
 }
 .nav{
    float: left;
    width: 70%;
    text-align: center;
    padding-top: 25px;
    text-align: right;
 }
 .nav ul li{
    display: inline-block;
    margin-right: 30px;
 }
 .nav ul li a{
    text-decoration: none;
    color: white;
    text-transform:uppercase;
 }
 .nav ul li a:hover{
   color: rgb(195, 131, 13);
   background-color: black;
 }

 .home{

    background-image: url(airplane.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
 }
 .home .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 .fieldset1{
   width: 600px;
   height: 200px;
   border-radius: 10px;
 }
 .legend{
   text-align: center;
 }
 .home .banner-text h2{
    text-align: center;
    color: white;
    padding: auto;
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 25px 0px;
    text-decoration: underline;
 }
 .home .banner-text p{
    text-align: center;
    font-size: 30px;
    word-spacing: 2px;
    color: white;
    text-transform:capitalize;
}


/*--abut-us--*/

.about-us{
   width: 80%;
   margin: auto;
}
.identification{
   float: left;
   width: 500px;
   height: 400px;
}
.identification h4{
   font-size: 30px;
   color: rgb(199, 199, 44);
}
.identification .img img{
   width: auto;
   height: 300px;
}
.about{
   float: left;
   width: 55%;
   margin-top: 110px;
   padding-left: 10px;
   border-left: 5px solid yellow;
   line-height: 25px;
}
.Learn-more{
   border: 1px solid rgb(195, 131, 13);
   border-radius: 7px;
   width: 100px;
   text-align: center;
}
.Learn-more .button{
   text-decoration: none;
   color: rgb(199, 199, 44);
}
.Learn-more:hover{
   transform:  scale(1.2);
   transition-duration: 1s;
}
.article-a{
   height: 200px;
  
}


/*--serves--*/

.Card-copy{
   float: left;
   width: 300px;
   height: 400px;
}
.Card{
   width: 250px;
   height: 350px;
   display: inline-block;
   padding-left: 30px;
   padding-top: 70px;
   border-radius: 5px ;
   box-shadow: inset 0px 0px 5px 0.2px rgb(195, 131, 13);
}
.Card:hover{
   transform:  scale(1.2);
   background-color: rgb(195, 131, 13);
   transition-duration: 1s;
}
.icons{
   margin-bottom: 50px;
   width: 80px;
   height: 80px;
   padding-top: 15px;
   padding-left: 15px;
   box-shadow: inset 0px 0px 5px 0.2px rgb(195, 131, 13);
}
.icons i{
   font-size: 50px;
}
.topic h4{
   font-size: 30px;
}
.topic p{
   margin-top: 20px;
   max-width: 200px;
}


/*--forms--*/

.twasols{
   float: left;
      width: 400px;
   height: 400px;
   background-color: black;
   position: relative;
   color: white;
}
.twasols p{
   border-bottom:2px solid red ;
}
.box-guide {
   position: absolute;
   top: 30px;
   left: 20px;
   font-size: 30px;
   text-transform: capitalize;
}
.twasol{
   position: absolute;
   top: 30%;
   left: 20%;
   font-size: 17px;
   line-height: 50px;
}
.twasol a{
   text-decoration: none;
   color: white;
}
.twasol a i{
   color: rgb(199, 199, 44);
}
.twasol p i{
   color: rgb(199, 199, 44);
}


.fieldset{
   border: 1px solid rgb(199, 199, 44);
   width: 750px;
   height: 470px;
   position: relative;
   background-color: rgb(236, 235, 235);
}
.Customer-data{
   position: absolute;
   top: 15%;
   left: 3%;
   font-size: 20px;
}
.name{ 
   margin-top: 5%;
   margin-left: 5px;
   width: 300px;
   height: 40px;
   border-radius: 4px;
}
.textarea{
   margin-top: 5%;
   margin-left: 5px;
   width: 600px;
   height: 150px;
   border-radius: 4px;

}
.send{
   margin-top: 3%;
   margin-left: 5px;
   width: 150px;
   height: 30px;
   box-shadow: 0px 0px 1px 0.1px black;
   border-radius: 4px;
   background-color: yellow;
   cursor: pointer;
}
.send:hover{
   box-shadow: 0px 0px 1px 0.3px black;
   font-weight: bold;
}


/*--footer--*/

.Communication-platforms{
   float: left;
   width: 100%;
   text-align: center;
   margin-top: 10%;
   background-color: black;
   height: 300px;
  

}
.Communication-platforms ul li{
   display: inline-block;
   padding-top: 80px;
   width: 90px;
   
  
    
}
.fa-square-twitter{
   color: rgb(48, 95, 250);
}
.Communication-platforms ul li a{
   text-decoration: none;
   padding: 8px;
   font-size: 40px;
}
.fa-instagram{
   color: rgb(206, 31, 31);
}
.fa-square-facebook{
   color: rgb(36, 36, 252);
}
.fa-whatsapp{
   color: rgb(53, 148, 53);
}
.Communication-platforms ul li a :hover{
   color: white;
}
.Copyright{
   color: white;
   margin-top: 40px;
}
.Copyright p a{
   color: rgba(243, 10, 10, 0.777);
   text-decoration: none;
   font-size: 20px;
}
.Copyright p a:hover{
   color: white;
   text-decoration: dashed;
}

  




